.benefits__list {
    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        margin: -15px;
    }
}

.benefits__item {

    &:not(:first-child) {
        @media screen and (max-width: 767px) {
            margin-top: 30px;
        }
    }

    @media screen and (min-width: 768px) and (max-width: 1199px) {
        width: calc((100% - 60px) / 2);
    }

    @media screen and (min-width: 768px) {
        margin: 15px;
    }

    @media screen and (min-width: 1200px) {
        width: calc((100% - 120px) / 4);
    }
}

.benefits__box {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;
    border-radius: 4px;

    background-color: #F5F4FA;

    @media screen and (max-width: 767px) {
        max-width: 450px;
    }
}

.benefits__sub-title {
    margin-top: 30px;

    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;

    @media screen and (max-width: 767px) {
        text-align: center;
    }
}

.benefits__p {
    margin-top: 10px;

    font-size: 14px;
    line-height: 1.71;
}