.clients {}

.clients__title {
    margin-bottom: 30px;

    text-align: center;
    font-size: 28px;
    line-height: 1.18;

}

.clients__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    margin: -15px;
}

.clients__item {
    margin: 15px;
}

.clients__link {

    display: flex;
    justify-content: center;
    align-items: center;

    width: 210px;
    height: 92px;

    border: 1px solid #AFB1B8;
    border-radius: 4px;

    fill: #AFB1B8;

    transition: fill 250ms $cubic, border-color 250ms $cubic;

    &:hover,
    &:focus {
        fill: $link-hover-color;
        border-color: $link-hover-color;
    }
}