.section--com-bgc {
    background-color: #F5F4FA;
}

.commands__title {

    text-align: center;

    @media screen and (max-width: 1199px) {
        font-size: 28px;
        line-height: 1.18;
    }

    @media screen and (min-width: 768px) and (max-width: 1199px) {
        margin-bottom: 30px;
    }

    @media screen and (min-width: 1200px) {
        margin-bottom: 50px;

        font-size: 36px;
        line-height: 1.17;
    }

}

.commands__list {
    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        margin: -15px;
    }
}

.commands__item {

    text-align: center;
    background-color: #fff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

    @media screen and (max-width: 767px) {
        margin-top: 30px;
        max-width: 450px;
    }

    @media screen and (min-width: 768px) and (max-width: 1199px) {
        width: calc((100% - 60px) / 2);
    }

    @media screen and (min-width: 768px) {
        margin: 15px;
    }

    @media screen and (min-width: 1200px) {
        width: calc((100% - 120px) / 4);
    }

}

.commands__img {
    max-width: 100%;
}

.commands__box {
    padding: 30px 0 24px 0;
}

.commands__name {
    font-size: 16px;
    line-height: 1.19;
}

.commands__pos {
    margin-top: 10px;

    font-size: 16px;
    line-height: 1.19;


}

.social {
    display: flex;
    justify-content: center;
    margin-top: 16px;
}

.social__item {
    align-items: center;

    &:not(:last-child) {
        margin-right: 10px;
    }
}

.social__link {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 44px;
    height: 44px;

    fill: #AFB1B8;
    border-radius: 50%;

    transition: fill 250ms $cubic, background-color 250ms $cubic;

    &:hover,
    &:focus {
        fill: #FFFFFF;
        background-color: $link-hover-color;
    }
}