.commands__title {
    font-size: 28px;
    line-height: 1.18;
}

.commands__list {}

.commands__item {
    max-width: 450px;
}

.commands__img {
    max-width: 100%;
}

.commands__name {
    font-size: 16px;
    line-height: 1.19;
}

.commands__pos {
    font-size: 16px;
    line-height: 1.19;
}