.footer {
    padding: 60px 0;
    background-color: #2F303A;
}

.footer__box {}

.footer__box-adress {}

.logo {}

.logo-web {}

.footer__address {}

.footer__adress-list {}

.footer__adress-item {}

.footer__address-link {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    color: #FFFFFF;
}

.footer__mail,
.footer__phone {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    color: rgba(255, 255, 255, 0.6);
}



.logo__web--white {
    color: #fff;
}