.hero {
    padding: 118px 60px;
    background: rgba(47, 48, 58, 0.4);
    text-align: center;
}

.hero__title {
    max-width: 360px;

    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
}