.section--service-mobile {
    display: none;

    @media screen and (min-width: 1200px) {
        display: block;
        padding-top: 0;
    }
}

.service {}

.service__title {
    margin-bottom: 50px;

    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}

.service__list {
    display: flex;
    margin: -15px;
}

.service__item {
    width: calc((100% - 90px)/3);
    margin: 15px;
}

.service__thumb {
    position: relative;
}

.service__img {
    width: 100%;
}

.service__text {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;

    background: rgba(47, 48, 58, 0.8);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;

    color: #FFFFFF;
}