.button {
    padding: 10px 32px;

    background-color: $main-btn-bgc;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    text-align: center;
    letter-spacing: 0.06em;

    color: #FFFFFF;

    transition: background-color 250ms $cubic;

    &:hover,
    &:focus {
        background-color: $btn-hover-bgc;
    }
}