body {
    color: $p-color;
    background-color: #fff;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: $title-color;
    padding: 0;
    margin: 0;
}

ul,
button,
p {
    margin: 0;
    padding: 0;
    border: 0;
}

button {
    cursor: pointer;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    display: block;
    height: 100%;

}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}